@mixin clearfix {
  &:after {
    content: ""; //ALWAYS NEED TO SPECIFY THE CONTENT OTHERWISE A PSEUDO ELEMENT WILL NOT APPEAR
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
