/*@include respond(phone) {
  letter-spacing: 0.5rem;
}

@include respond(tab-land) {
  font-size: 56.25%;
}

@include respond(tab-port) {
  font-size: 50%;
}

@include respond(big-desktop) {
  font-size: 75%;
}
*/
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle;
    @include respond(tab-port) {
      padding-bottom: 30rem;
      display: table-row;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-port) {
      padding: 5rem 3rem 3rem 3rem;
      text-align: center;
    }

    @include respond(phone) {
      padding: 5rem 2rem 2rem 2rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    @include respond(tab-port) {
      display: inline-block;
      width: 40%;
    }
    &--1 {
      @include respond(tab-port) {
        transform: translateX(9rem) translateY(3rem);
      }
    }
    &--2 {
      @include respond(tab-port) {
        border-left: solid $color-white;
        border-bottom: 3px solid $color-white;
        transform: translateX(2rem) translateY(1rem);
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    @include respond(tab-port) {
      margin-bottom: 4rem;
      font-size: 1.3rem;
    }

    -moz-column-count: 2;
    -moz-column-gap: 4rem; //1em = 14px;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem; //1em = 14px;
    column-rule: 1px solid $color-grey-light-2;
    @include respond(phone) {
      column-count: 1;
    }

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  //Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    transition: all 0.3s;
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
      transform: scale(1.5);
    }
  }
}
