*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //@at-rootThis defines what 1rem is
  font-size: 62.5;
}

body {
  box-sizing: border-box;
  /* changing box model so that the borders and the paddings are no longer added to the total width or height that was specify for a box */
}
